mixin search()
  form.d-flex.align-items-end.gap-1( method="post" form-search)
      input.form-control(type="text" name="search" placeholder="Search..." input-search-value )
      button.btn.btn-outline-success(type="submit") Search