aside
  .p-3
    h5 Sidebar
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active(href=`${prefixAdmin}`) Dashboard
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/pets`) Quản lý thú cưng
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/pets-category`) Quản lý Danh Mục Thú Cưng 
      li.nav-item
        a.nav-link(href="#") Người dùng
